@import "tailwindcss";
@plugin "daisyui";

body {

  background: linear-gradient(135deg, #fef3c7 0%, #e0f2fe 50%, #ede9fe 100%);

  background-image: repeating-linear-gradient(45deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 10px);
  background-attachment: fixed;

  background-repeat: repeat;
  background-size: cover;
  font-family: 'Urbanist', sans-serif;
}